:root {
  --primary-bc-color: #220819;
  --secundary-bc-color: #0c000a;
  --secundary-font-color: #fff;
  --modal-bc-color: #0f000cfb;
  --modal-bc-info: #fff;
  --primary-show-bc-color: #f8d5ee;
  --primary-show-font-color: #000c06;
  --button-bc-color: #1b0117;
  --button-font-color: #fff;
}
